*{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body{
    font-size: 15px;
}
    


.container{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}


.title{
	font-size: 60px;
    color:lightsteelblue;
        animation: fadeInBox 2s linear;
        }
        
        @keyframes fadeInBox{
        0%{
        opacity: 0;
        }
        100%{
        opacity: 1;
        }
        }
}

nav{
    text-align:center;

}

nav ul{
	margin:0;
    padding:0;
}


nav ul li{
    display: inline-block;
    width:10%;
}

nav ul li a{
    text-decoration: none;
    color:lightgrey;
}

nav li:hover{
    border-bottom:2px solid #00bfff;
}